---
import { buttonVariants } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import { BackgroundBeamsWithCollisionDemo } from "@/components/ui/BackgroundBeamWithCollisionDemo";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col">
		<BackgroundBeamsWithCollisionDemo client:load />
		<a class="btn btn-outline btn-primary self-center mt-16" href="/">Go home</a
		>
	</main>
</Layout>
