---
import { buttonVariants } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import { BackgroundBeamsWithCollisionDemo } from "@/components/ui/BackgroundBeamWithCollisionDemo";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col">
		<BackgroundBeamsWithCollisionDemo client:load />
		<a
			class={`${buttonVariants({ variant: "default" })} mt-16 self-center`}
			href="/"
		>
			Go home
		</a>
	</main>
</Layout>
